@import url('base.css');
/* Global styles and variables */
:root {
  --primary-100: #313338;
  --primary-200: #1e1f22;
  --primary-300: #b5bac1;
  --border-radius: 5px;
  --default-text: white;
  --button-primary: #593290;
  --button-secondary: #000019;
  --error-color: red;

  --icon-size: 23px;
  --avatar-size: 34px;

  --shadow-1: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}
