.container {
  position: relative;
}

.dropdownContent {
  width: 200px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: var(--shadow-1);
  z-index: 1;
  border-radius: 4px;
  padding: 8px 0;
  top: 40px;
  left: 50%; /* Positions the top left corner at the center of the button */
  transform: translateX(-50%);
}

.dropdownContent::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #f9f9f9 transparent;
}

.container:focus-within .dropdownContent {
  display: flex;
  flex-direction: column;
}
