.container {
  width: var(--avatar-size);
  height: var(--avatar-size);
  cursor: pointer;
  color: var(--default-text);
}

.icon {
  width: var(--icon-large);
  height: var(--icon-large);
}

.initials {
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
