.container {
  width: var(--icon-medium);
  height: var(--icon-medium);
  cursor: pointer;
  color: var(--default-text);
}

.initials {
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.profileDropdownContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

@media (max-width: 480px) {
  .profileContainer span,
  .profileContainer svg:not(:first-child) {
    display: none;
  }
}
