.container {
  background: linear-gradient(to bottom, #d9a6f2 0%, #f3dbfd 10%, #ffffff 20%);
  width: 100%;
  height: 450vh;
  padding: 0 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
