.cartCounter {
  background: linear-gradient(to right, #ff0000, #ff7373);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 5px;
  color: white;
  z-index: 2;
  border-radius: 50%;
}
