.container {
  padding: 20% 10% 10% 10%;
  background: linear-gradient(to bottom, #dbf3fd 10%, #ffffff 60%);
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container input {
  background: transparent;
}
