.container input {
  background-color: var(--primary-200);
  border-radius: var(--border-radius);
  height: 40px;
  padding: 10px;
  color: var(--default-text);
  width: 100%;
}

.container input:focus {
  outline: none;
  border: none;
}
