@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808080;
  opacity: 1;
  font-size: medium;
  /* Firefox */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.image::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.1;
  pointer-events: none;
  overflow: auto;
}

.btn {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 10px;
  width: 10vw;
  height: 8vh;
  right: 20%;
  bottom: 20%;
  background-color: rgb(254 215 170);
  opacity: 0.9;
}

.btn p {
  text-align: center;
}
.cover:hover .item {
  transform: translateX(0%);
}

.item {
  content: '';
  display: block;
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  transform: translateX(100%);
  transition-duration: 0;
  opacity: 0.8;
  z-index: 9999;
}
